@using MY_Ticari.Models.Siniflar
@using PagedList
@using PagedList.Mvc @*bu gereksiz*@
@model PagedList.IPagedList<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <table class="table table-bordered" style="margin-top:20px">
        <tr>
            
            <th>Kategori Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>

        @foreach (var x in Model)
        {
            <tr>
   
                <td>@x.KategoriAd</td>
                <td><a href="/Kategori/KategoriSil/@x.KategoriID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Kategori/KategoriGetir/@x.KategoriID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }

    </table>
@*//ÖNEMLİ*@
@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index",new {sayfa}), new PagedListRenderOptions
{

    LiElementClasses=new List<string>
    { "page-link"}
})


<a href="/Kategori/KategoriEkle" class="btn btn-primary">Kategori Ekle</a>